h1,
.h1 {
    font-size: 42px;
    line-height: 38px;
    letter-spacing: 1px;
}

a {
    color: $gray-900;
    text-decoration: none;
    //transition: all .2s ease-in-out;
    &:hover {
        color: $gray-800;
        text-decoration: none;
    }
}
