.navigation-flyout {
    background-color: $simple-color-navigation-flyout-background;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.05);
    transition: max-height .3s ease-in-out;
    transition-delay: .1s;
    transform: translateZ(0);
    &.is-open {
        .navigation-flyout-link {
            opacity: 1;
            &:hover {
                padding: 0;
                color: $simple-color-navigation-flyout-link-color-active;
                .navigation-flyout-teaser-image {
                    transform: scale(1.3);
                }
            }
            .navigation-flyout-teaser-image {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .navigation-flyout-link {
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $simple-color-navigation-flyout-link-color;
        opacity: 0;
        transition: all .4s ease-in-out;
        &.no-thumbnail {
            padding-top: 40px;
        }
        .navigation-flyout-teaser-image {
            transform: scale(.7);
            opacity: 0;
            height: 30px;
            width: auto;
            margin-top: 10px;
            transition: all .4s ease-in-out;
        }
    }
    .container {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
    .navigation-flyout-categories {
        justify-content: center;
        align-items: center;
    }
    .navigation-flyout-col {
        padding: 10px 10px;
        margin: 0;
    }
}

.navigation-flyout-content {
    padding-bottom: 0;
}

.navigation-flyout-categories.is-level-0 > .navigation-flyout-col::before {
    display: none;
}

.navigation-flyout-categories.is-level-0 > .navigation-flyout-col {
    margin: 0;
}
