{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% set headerType = shopware.config.SasSimple.config.headerType %}

{% block base_breadcrumb %}{% endblock %}

{% block base_header %}
    {% set headerType = 2 %}
    <header class="header-main header-main-type-{{ headerType }} {{ shopware.config.SasSimple.config.headerSticky ? 'header-sticky' }}">
        {% block base_header_inner %}
            <div class="container">
                {% sw_include '@Storefront/storefront/layout/header/type2/header.html.twig' %}
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block base_navigation %}
    {% block base_navigation_inner %}
        {% if headerType == 1 %}
            {% sw_include '@Storefront/storefront/layout/header/type1/categories.twig' %}
        {% else %}
            <div class="nav-main d-none d-sm-block">
                {{ parent() }}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block base_body_inner %}
    <div class="overflow-hidden">
        {{ parent() }}
    </div>
{% endblock %}
