.product-detail-configurator-container {
    margin: 50px 0 20px 0;
}

.product-detail-configurator-group {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $gray-300;
    padding: 10px 0 2px 0;
    &:first-child {
        border-top: solid 1px $gray-300;
    }

    .product-detail-configurator-group-title {
        width: 22%;
    }
}

.product-detail-configurator-option-input {

    + .product-detail-configurator-option-label {

        &.is-display-size {
            border: none;
            padding: 5px;
            box-shadow: none;
            border-radius: 100%;
            height: 43px;
            width: 43px;
            min-width: 0;
        }
    }

    &:checked + .product-detail-configurator-option-label {

        &.is-display-size {
            background: black;
            color: white;
        }
    }

    &.is-combinable + .product-detail-configurator-option-label,
    + .product-detail-configurator-option-label {
        &:hover,
        &:active,
        &:focus {
            background: #e0e0e0;
            color: #000;
            border: none;
        }
    }
}
