.buybox-info {
    margin-top: 20px;
    position: relative;
    background-color: #faeddb;
    border-radius: 6px;
    display: block;
    svg {
        position: absolute;
        top: -15;
        left: 5px;
        display: inline-block;
        vertical-align: middle;
    }
    .buybox-text {
        margin: 10px 20px;
        text-align: center;
        font-size: 14px;
    }
}

.is-ctl-product {
    .breadcrumb {
        display: flex;
    }
}

.product-detail {
    &.product-detail-type1 {
        padding-top: 25px;
    }
}

.product-detail-manufacturer-logo {
    width: auto;
    height: auto;
    max-height: 40px;
    max-width: 223px;
}

.product-detail-manufacturer-link {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
}

.product-badges {
    left: 0;
}

.product-detail-name {
    font-size: 22px;
    line-height: 1.125;
    margin-top: 15px;
    color: #1a1a1a;
    font-weight: 700;
}

.product-detail-price {
    color: #1a1a1a;
    font-weight: normal;
}

.product-detail-tax-link {
    color: #6f6f6f;
}

.product-detail-content {
    .product-breadcrumb {
        margin-bottom: 20px;
        align-items: center;
        a {
            font-size: 12px;
            text-transform: uppercase;
            color: $gray-500;
        }
    }
}

.product-detail-headline {
    margin-top: 10px;
    margin-bottom: 0;
}

.product-tags {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    .badge {
        padding: 2px 10px;
        border-radius: $border-radius;
    }
    li {
        &:first-child {
            .badge {
                margin-left: 0;
            }
        }
    }
}

.product-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .image-grid-item {
        overflow: hidden;
        &:nth-child(-n + 2) {
            height: 380px;
        }
        &.item-1 {
            width: calc(50% - 2px);
            margin-bottom: 4px;
        }
        &.item-2 {
            width: calc(50% - 2px);
            margin-bottom: 4px;
        }
        &.item-3,
        &.item-4,
        &.item-5 {
            width: calc(33.3% - 2px);
        }
        img {
            object-fit: cover;
            object-position: center center;
            height: 100%;
            width: 100%;
        }
    }
}


.product-detail-view2 {
    padding-top: 20px;

    .product-detail-buy {
        &.col {
            @include media-breakpoint-up(md) {
                padding-left: 120px;
            }
        }
    }
    .product-detail-tax {
        margin-bottom: 0;
    }
    .product-detail-tax-container {
        margin-left: 0;
        @include media-breakpoint-up(md) {
            margin-left: 20px;
        }
    }
    .product-tags {
        margin: 20px 0;
    }
    .product-detail-description {
        margin: 20px 0 10px 0;
    }
    .product-detail-price-container {
        display: flex;
        align-items: baseline;
    }
    .product-detail-price {
        font-size: 20px;
        margin-right: 5px;
    }
    .product-detail-tabs {
        background: $gray-200;
        padding: 10px 20px;
        @include media-breakpoint-up(md) {
            padding: 30px 100px;
        }

        .card-tabs {
            .nav-item {
                margin-right: 20px;
            }
            .nav-link {
                background: none;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                border-width: 3px;
                padding-bottom: 0;
            }
        }
    }
}
