.alert-has-image {
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    padding: 24px;
    .alert-inner {
        background: white;
        box-shadow: 0 1px 2px 0 rgba(26, 26, 26, 0.05);
        padding: 24px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            width: 60px;
            height: 60px;
        }
    }
    h1 {
        text-transform: none;
        font-weight: bold;
        letter-spacing: 1px;
        color: #1A1A1A;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin: 10px 0;
    }
    .alert-image {
        max-width: 500px;
        margin: 0 auto;
        height: auto;
    }
}
