{% block layout_header_top_bar %}
    <div class="row">
        <div class="col">
            <div class="top-bar d-none d-lg-block">
                <nav class="top-bar-nav">
                    <span>{{ "simple.topbar.first_column"|trans|sw_sanitize }}</span>
                    <span>{{ "simple.topbar.second_column"|trans|sw_sanitize }}</span>
                    <span>{{ "simple.topbar.third_column"|trans|sw_sanitize }}</span>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
